
run = "tools/ci/install_byond.sh && DreamMaker paradise.dme && DreamDaemon paradise.dmb -safe -trusted"
modules = ["bash-0.6:v1"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "tools/ci/install_byond.sh && DreamMaker paradise.dme"]
run = ["sh", "-c", "DreamDaemon paradise.dmb -safe -trusted"]
